/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
*.iml
*.apk
*.ap_
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
bin/
gen/
Thumbs.db